%script#header{:type => "text/x-handlebars-template"}
  %h1 Header


%script#page_1{:type => "text/x-handlebars-template"}
  #page1{"data-role" => "page", "data-theme" => "d"}
    %div{"data-role" => "header", "data-theme" => "a"}
      %h3 Rails School
    %div{"data-role" => "content"}
      #map_canvas
      %a{"data-icon" => "plus", "data-iconpos" => "right", "data-role" => "button", "data-transition" => "slide", :href => "#page2"}
        Add my message
      %div{"data-iconpos" => "top", "data-role" => "navbar"}
        %ul
          %li
            %a{"data-icon" => "", "data-theme" => "", "data-transition" => "slide", :href => "#page3"}
              View All Messages
          %li
            %a{"data-icon" => "", "data-theme" => "", "data-transition" => "fade", :href => "#page4"}
              Info
    %div{"data-position" => "fixed", "data-role" => "footer", "data-theme" => "a"}
      %h3
        Rails School
  / Add Message
%script#page_2{:type => "text/x-handlebars-template"}
  #page2{"data-role" => "page"}
    %div{"data-role" => "header", "data-theme" => "a"}
      %h3
        Add Message
      %a.ui-btn-left{"data-role" => "button", "data-transition" => "slide", :href => "#page1"}
        Back
    %div{"data-role" => "content"}
      %div
        %p
          %b
            You will write a nice message and the message will be linked to your current
            geolocation
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %label{:for => "textinput2"}
            Your name
          %input#textinput2{:name => "", :placeholder => "", :type => "text", :value => ""}
      %div{"data-role" => "fieldcontain"}
        %fieldset{"data-role" => "controlgroup"}
          %label{:for => "textarea2"}
            Your nice message
          %textarea#textarea2{:name => "", :placeholder => ""}
      %a{"data-icon" => "plus", "data-iconpos" => "left", "data-role" => "button", :href => "#page2"}
        Add Message
    %div{"data-position" => "fixed", "data-role" => "footer", "data-theme" => "a"}
      %h3
        Rails School
  / All Messages
%script#page_3{:type => "text/x-handlebars-template"}
  #page3{"data-role" => "page"}
    %div{"data-role" => "header", "data-theme" => "a"}
      %a.ui-btn-left{"data-role" => "button", "data-transition" => "slide", :href => "#page1"}
        Back
      %h3
        All Messages
    %div{"data-role" => "content"}
    %div{"data-position" => "fixed", "data-role" => "footer", "data-theme" => "a"}
      %h3
        Rails School
  / Info
%script#page_4{:type => "text/x-handlebars-template"}
  #page4{"data-role" => "page"}
    %div{"data-role" => "content"}